.{
    margin: 0;
    padding: 0;

body{
    background-color: rgb(0, 0, 15);
    display: grid;
    place-items: center;
    min-height: 100vh;
    
}
main{
    display: grid;
    grid-template-areas: 
    'a a a b b '
    'a a a b b'
    'c c d d d'
    'c c e e e';
    gap: 10px;
    margin: auto;
}

main div{
    padding: 2em;
    text-align: center;
    width: 140px;
}
.item-a{
    background-color: red;
    grid-area: a;
    width: 200px;
    height: 40px;
}
.item-b{
    background-color: orange;
    grid-area: b;
    width: 80px;
}
.item-c{
    background-color: green ;
    grid-area: c;
    height: 7ss0px;
}
.item-d{
    background-color:blue ;
    grid-area: d;
    height: 10px;
}
.item-e{
    background-color: blue;
    grid-area: e;
    height: 10px;
}
